@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    /* outline-style:none; */
}
html{
    font-size:14px;
    overflow-x:hidden;
}
body{
    background-color:#fff;
    color:#1e1e1e;
    font-size:14px;
    font-family:"Inter","Noto Sans KR",sans-serif;
    font-style:normal;
    font-weight:400;
    font-optical-sizing:auto;
}
a{
    color:#1e1e1e;
    font-family:"Inter","Noto Sans KR",sans-serif;
    text-decoration:none;
}
ul,ol,li{
    list-style:none;
    margin:0;
    padding:0;
}
img{
    max-width:100%;
}