footer{background-color:#202020;}
footer{
    .title{
        margin-bottom:30px;
        font-size:16px;
    }
    .footer-main,
    .footer-copy{
        width:100%;
    }
    .footer-copy{
        background-color: #191919;
    }
    .footer-copy .footer-layout{
        padding-bottom:40px;
    }
    .footer-layout{
        display:flex;
        max-width:1170px;
        margin:0 auto;
        padding:40px 0px 55px 0px;
        box-sizing:border-box;
        justify-content:space-between;
    }
    .footer-left{
        color:#fff;
    }
    .footer-logo{
        margin-bottom:30px;
        font-size:0px;
    }
    .footer-logo a{
        display:inline-block;
        font-size:0px;
    }
    .footer-logo img{
        height:20px;
        object-fit:cover;
    }
    .footer-text{
        margin-bottom:40px;
        color:#999;
        font-weight:400;
    }
    .btn-join{
        display:inline-block;
        padding:9px 20px;
        border-radius:30px;
        border:1px solid #ffc500;
        box-sizing:border-box;
        background:#ffc500;
        font-weight:600;
        cursor:pointer;
    }
    .footer-right{
        display:flex;
        gap:55px;
        color:#fff;
    }
    .menu-left,
    .menu-right{
        width:145px;
    }
    .menu-link li{
        margin-bottom:20px;
    }
    .menu-link li:last-child{
        margin-bottom:0px;
    }
    .menu-link a{
        display:block;
        color:#999;
        font-weight:400;
    }
    .menu-link .xi-arrow-up{
        position:relative;
        top:-2px;
        margin-left:2px;
        font-weight:bold;
        transform:rotate(45deg);
    }
    .copy-left{
        color:#666;
    }
    .copy-right{
        display:flex;
        gap:15px;
    }
    .copy-right a{
        color:#fff;
    }
}