footer{background-color:#222;}
footer{
    .footer-wrap{
        display:flex;
        max-width:1170px;
        margin:0 auto;
        justify-content:space-between;
        padding:10px 0px;
        background:none;
        color:#fff;
    }
}