header{background:#fff;}
header{
    .header-wrap{
        display:flex;
        max-width:1170px;
        margin:0 auto;
        padding:20px 0px 45px;
        align-items:center;
        justify-content:space-between;
    }
    .header-logo{
        display:flex;
        align-items:center;
        gap:10px;
    }
    .header-logo a{
        width:88px;
    }
    .change-logo{
        width:68px;
    }
    .nav{
        display:flex;
        align-items:center;
        gap:25px;
    }
    .nav a{
        color:#121212;
        font-size:16px;
        font-weight:700;
    }
    .nav button{
        width:24px;
        border:none;
        background:none;
        cursor:pointer;
    }
}