.main-slide {
  display: flex;
  justify-content: space-between;
  gap: 2.542vw;
  padding-bottom: 60px;
}
.slide-left {
  width: 65.254vw;
  font-size: 0px;
  max-width: 770px;
  border-radius: 20px;
  overflow: hidden;
}
.slide-right {
  width: 33.898vw;
  font-size: 0px;
  max-width: 400px;
  border-radius: 20px;
  overflow: hidden;
}
.visual-slide,
.card-slide {
  height: 100%;
}
.visual-slide img,
.card-slide img {
  height: 100%;
  object-fit: cover;
}
.visual-slide .swiper-slide {
  position: relative;
}
.visual-slide .swiper-slide .slide-title {
  position: absolute;
  right: 40px;
  bottom: 40px;
  color: #fff;
  line-height: 110%;
  font-size: 40px;
  font-weight: 700;
  text-align: right;
}

.main-slide .swiper-pagination {
  bottom: 30px;
}
.main-slide .swiper-pagination-bullet {
  width: 4px;
  height: 4px;
  margin: 0px 2px !important;
  border-radius: 4px;
  background-color: #fff;
  opacity: 0.6;
  transition: all 0.3s;
}
.main-slide .swiper-pagination-bullet-active {
  width: 20px;
  background-color: #fff;
  opacity: 1;
}

/* 모바일 버전 */
@media screen and (max-width: 1024px) {
  .main-slide {
    display: block;
    gap: 0px;
  }
  .slide-left {
    width: 100%;
    height: 100vw;
    max-width: 100%;
  }
  .slide-right {
    display: none;
  }

  .visual-slide .swiper-slide .slide-title {
    font-size: 30px;
  }
}
/* 모바일 버전 */
