.main-wrap {
  padding: 0px 5px;
  margin: 100px auto 0px auto;
  max-width: 1180px;
}

@media screen and (max-width: 1024px) {
  .main-wrap {
    padding: 0px;
  }
  .main-slide,
  .main-contents {
    padding: 0px 15px;
  }
  .main h4.list-title {
    padding: 0px 15px;
  }
  .mob-list-card {
    padding-left: 15px;
  }
}
